{% extends "base.html" %}
{% block content %}


<div class="container mt-5" >
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card" >
                <div class="card-header">
                    <h4>Change Password</h4>
                </div>
                <div class="card-body">
                    <form action="{{ url_for('auth.change_password', id=current_user.id)}}" method="post">
                        {{ form.hidden_tag() }}
                        <div class="form-group">
                            <label for="current_password">Current Password</label>
                            {{ form.Current_Password(class="form-control", id="current_password") }}
                        </div>
                        <div class="form-group">
                            <label for="new_password">New Password</label>
                            {{ form.New_Password(class="form-control", id="new_password") }}
                        </div>
                        <div class="form-group">
                            <label for="confirm_new_password">Confirm New Password</label>
                            {{ form.Confirm_New_Password(class="form-control", id="confirm_new_password") }}
                        </div>
                            {{ form.submit(class_="btn btn-secondary w-150 mt-4") }}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


      {% endblock %}
      

