{% extends "base.html" %}
{% block title %}About Us{% endblock %}

{% block content %}
<div class="container mx-auto py-12 text-white">
    <div class="bg-gray-1000 p-8 rounded-lg shadow-lg">
        <h1 class="text-4xl font-bold mb-6">About Us</h1>
        <p class="text-lg mb-4">
            Welcome to Kenany Store, your ultimate destination for a diverse range of high-quality products at unbeatable prices. We pride ourselves on offering a seamless shopping experience tailored to your needs.
        </p>
        <h2 class="text-2xl font-semibold mb-4">Our Mission</h2>
        <p class="text-lg mb-4">
            Our mission is to make online shopping easy, convenient, and enjoyable. We aim to provide top-notch customer service and ensure complete satisfaction with every purchase.
        </p>
        <h2 class="text-2xl font-semibold mb-4">What We Offer</h2>
        <ul class="list-disc list-inside text-lg mb-4">
            <li>Electronics</li>
            <li>Accessories</li>
            <li>And much more...</li>
        </ul>
        <h2 class="text-2xl font-semibold mb-4">Why Choose Us?</h2>
        <p class="text-lg mb-4">
            At Kenany Store, we are committed to providing:
        </p>
        <ul class="list-disc list-inside text-lg mb-4">
            <li>High-quality products</li>
            <li>Affordable prices</li>
            <li>Excellent customer service</li>
            <li>A user-friendly online shopping experience</li>
        </ul>
        <p class="text-lg mb-4">
            Thank you for choosing Kenany Store. We look forward to serving you and ensuring you have a fantastic shopping experience!
        </p>
    </div>
</div>
{% endblock %}
