{%extends "base.html"%}

{%block content%}
<div class="container" style="color:white;">
    <h1>About Us</h1>
        <p>
            Kenany Store is a fictional online store that sells a variety of products. We are dedicated to providing the best
            shopping experience for our customers. Our products are of high quality and are sold at affordable prices. We
            offer a wide range of products including electronics, clothing, accessories, and more. Our goal is to make
            shopping easy and convenient for our customers. We are committed to providing excellent customer service and
            ensuring that our customers are satisfied with their purchases. Thank you for choosing Kenany Store!
        </p>
</div>

{%endblock%}