<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kenany Store | {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.icons.min.css') }}">
    <script src="https://kit.fontawesome.com/03dcde4a68.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tailwind.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mystyle.css') }}">
  </head>
  <body style="background-color : rgba(0, 0, 0, .9);">
    <!-- navbar section -->
    <header style= "">
        <nav class="navbar navbar-expand-lg  ">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{url_for('views.base')}}"><image src="../static/images/kenany_logo.png" ></a>
                <button class="navbar-toggler" style="border-color:white"  type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon" ></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav me-auto mb-3 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('views.home')}}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('views.about') }}">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact Us</a>
                        </li>
                    </ul>
                    <form class="d-flex" action="/search" method="POST" required ="True">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-secondary" type="submit">Search</button>
                    </form>
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        {%if cart | length < 1 %}
                        <li class="nav-item">
                            <a class="nav-link " href="{{url_for('views.cart')}}"><span class="badge bg-success"></span>Cart
                            <i class="fa-solid fa-cart-shopping"></i>
                          </a>  
                        </li>
                        {%else%}
                        <li class="nav-item">
                            <a class="nav-link " href="{{url_for('views.cart')}}"><span class="badge bg-success"></span>Cart
                              <i class="bi bi-{{cart | length}}-square"></i>
                          </a>  
                        </li>
                        {%endif%}
                        <li class="nav-item">
                            <a class="nav-link " href="">Wishlist
                            <i class="fa-solid fa-heart"></i>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Account
                            </a>
                            <ul class="dropdown-menu mr-5 dropdown-menu-dark " aria-labelledby="navbarDropdownMenuLink" >
                              {% if current_user.is_authenticated %}
                              {% if current_user.id == 1 %}
                                  <li><a class="dropdown-item" href="{{ url_for('auth.profile', id=current_user.id) }}">Profile <i class="fa-solid fa-user"></i></a></li>
                                  <li><a class="dropdown-item" href="/orders">Orders <i class="fa-solid fa-truck-fast"></i></a></li>
                                  <li><a class="dropdown-item" href="/logout">Log Out <i class="fa-solid fa-right-from-bracket"></i></a></li>
                                  <li><a class="dropdown-item" href="/shop_items">Shop items <i class="fa-solid fa-user-crown"></i></a></li>
                                  <li><a class="dropdown-item" href="/add_shop_items">Add Products <i class="fa-solid fa-user-crown"></i></a></li>
                                  <li><a class="dropdown-item" href="/view_orders">View Orders <i class="fa-solid fa-user-crown"></i></a></li>
                                  <li><a class="dropdown-item" href="/customers">My Customers <i class="fa-solid fa-user-crown"></i></a></li>
                              {% else %}
                                  <li><a class="dropdown-item" href="{{ url_for('auth.profile', id=current_user.id) }}">Profile <i class="fa-solid fa-user"></i></a></li>
                                  <li><a class="dropdown-item" href="/orders">Orders <i class="fa-solid fa-truck-fast"></i></a></li>
                                  <li><a class="dropdown-item" href="/logout">Log Out <i class="fa-solid fa-right-from-bracket"></i></a></li>
                              {% endif %}
                          {% else %}
                              <li><a class="dropdown-item" href="/login">Login <i class="fa-solid fa-right-to-bracket"></i></a></li>
                              <li><a class="dropdown-item" href="/signup">Sign Up</a></li>
                          {% endif %}
                          
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div>
          {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
              {{ message }}
                <button type="button" class="btn btn-close" data-bs-dismiss="alert" >
              </button>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}


    <!-- main content section -->
    <main>
        {% block content %}
        {% endblock %}
    </main>



    <!-- footer section -->
    <footer class="container-fluid text-center p-4 mt-5 shadow-sm" style="  color: white; ">
        <div class="row">
          <div class="col-md-12">
            <p>
              <a href="" style="color: white;">Kenany Store</a> | 
              <span><i class="fa-regular fa-copyright"></i></span> 2023 All rights reserved
            </p>
            <div>
              <a href="https://www.facebook.com" target="_blank" class="me-3" style="color: white;">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="https://www.twitter.com" target="_blank" class="me-3" style="color: white;">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="https://www.instagram.com" target="_blank" class="me-3" style="color: white;">
                <i class="fab fa-instagram"></i>
              </a>
              <a href="https://www.linkedin.com" target="_blank" style="color: white;">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </div>
          </div>
        </div>
      </footer>
      

      <!-- FontAwesome Script for Icons -->
      <script src="{{url_for('static', filename='js/fontAwsome.js')}}"></script>
      
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
  </body>
</html>

