<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Kenany Store | {% block title %}Home{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.icons.min.css') }}">
  <script src="https://kit.fontawesome.com/03dcde4a68.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/tailwind.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/mystyle.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/landingpagestyle.css') }}">
</head>

<body>
  <!-- navbar section -->
  <header>
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{url_for('views.base')}}">
          <img src="../static/images/kenany_logo.png" alt="Kenany Store Logo"> 
        </a>
        <button class="navbar-toggler text-white " style="border-color:white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" >
          <span class="navbar-toggler-icon " ></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav me-auto mb-3 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('views.home')}}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('views.about') }}">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact Us</a>
            </li>
          </ul>
          <form class="d-flex" action="/search" method="POST" required="True">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-secondary" type="submit">Search</button>
          </form>
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            {% if cart | length < 1 %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('views.cart') }}">
                <i class="fa-solid fa-cart-shopping"></i> Cart
              </a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('views.cart') }}">
                <i class="bi bi-{{ cart | length }}-square"></i> Cart
              </a>
            </li>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link" href="#">Wishlist
                <i class="fa-solid fa-heart"></i>
              </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Account
              </a>
              <ul class="dropdown-menu mr-5 dropdown-menu-dark" aria-labelledby="navbarDropdownMenuLink">
                {% if current_user.is_authenticated %}
                {% if current_user.id == 1 %}
                <li><a class="dropdown-item" href="{{ url_for('auth.profile', id=current_user.id) }}">Profile <i class="fa-solid fa-user"></i></a></li>
                <li><a class="dropdown-item" href="/orders">Orders <i class="fa-solid fa-truck-fast"></i></a></li>
                <li><a class="dropdown-item" href="/logout">Log Out <i class="fa-solid fa-right-from-bracket"></i></a></li>
                <li><a class="dropdown-item" href="/shop_items">Shop items <i class="fa-solid fa-user-crown"></i></a></li>
                <li><a class="dropdown-item" href="/add_shop_items">Add Products <i class="fa-solid fa-user-crown"></i></a></li>
                <li><a class="dropdown-item" href="/view_orders">View Orders <i class="fa-solid fa-user-crown"></i></a></li>
                <li><a class="dropdown-item" href="/customers">My Customers <i class="fa-solid fa-user-crown"></i></a></li>
                {% else %}
                <li><a class="dropdown-item" href="{{ url_for('auth.profile', id=current_user.id) }}">Profile <i class="fa-solid fa-user"></i></a></li>
                <li><a class="dropdown-item" href="/orders">Orders <i class="fa-solid fa-truck-fast"></i></a></li>
                <li><a class="dropdown-item" href="/logout">Log Out <i class="fa-solid fa-right-from-bracket"></i></a></li>
                {% endif %}
                {% else %}
                <li><a class="dropdown-item" href="/login">Login <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a class="dropdown-item" href="/signup">Sign Up</a></li>
                {% endif %}
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container header-content">
      <div class="row align-items-center">
        <div class="col-md-6 order-2 order-md-1">
          <h1>Welcome to Kenany Store</h1>
          <p>Your one-stop shop for all your tech needs</p>
          <a href="{{ url_for('views.home') }}" class="btn btn-primary btn-lg">Shop Now</a>
        </div>
        <div class="col-md-6 order-1 order-md-2 header-image mb-3 mb-md-0">
          <img src="../static/images/kenany_logo.png" alt="kenany store"> 
        </div>
      </div>
    </div>
  </header>

  <!-- main content section -->
  <main>
    <!-- Featured Products Section -->
    <section class="full-size-section section-white text-center">
      <div class="container">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">Featured Products</h2>
            <!-- Add your featured products here -->
                        <div class="container text-center mb-4 mt-5">
                            <div class="row g-4">
                                {% for item in featured_items %}
                                <div class="col-md-3">
                                  <a href="/products/{{ item.id }}" class="card-link">
                                      <div class="card h-100 border-0 shadow-sm">
                                          <img src="{{item.image}}" alt="{{item.product_name}}" class="card-img-top p-3 mx-auto" style="height: 202px; width: auto;">
                                          <div class="card-body">
                                              <h6 class="card-title text-muted">{{item.product_name}}</h6>
                                              <div class="d-flex justify-content-between align-items-center">
                                                  {%if item.previous_price%}
                                                  <div>
                                                      <h5 class="mb-0">SDG {{item.current_price}}</h5>
                                                      <strike class="text-muted">SDG {{item.previous_price}}</strike>
                                                  </div>
                                                  {%else%}
                                                  <div>
                                                      <h5 class="mb-0">SDG {{item.current_price}}</h5>
                                                  </div>
                                                  {%endif%}
                                                  <a href="/add_to_cart/{{item.id}}" class="btn btn-secondary">Add to cart</a>
                                              </div>
                                              <p class="text-muted mt-2">{{item.in_stock}} Items Left</p>
                                          </div>
                                      </div>
                                      </a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Product Showcase Section -->
    <div class="container header-content">
        <div class="row align-items-center">
          <div class="col-md-6 order-2 order-md-1">
            <h1>Find the lastest technology</h1>
                <p>Your one-stop shop for all your tech needs</p>
            
            </div>
            <div class="col-md-6 order-1 order-md-2 header-image mb-3 mb-md-0">
                <img src="../static/images/iphone14promaxedited.png" alt="kenany store"> 
            </div>
        </div>
      </div>

    <!-- Flash Sale Section -->
    <section class="full-size-section section-white text-center">
      <div class="container">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">Flash Sale Products</h2>
            <!-- Add your flash sale products here -->
            <div class="container text-center mb-4 mt-5">
                <div class="row g-4">
                    {% for item in items %}
                    <div class="col-md-3">
                      <a href="/products/{{ item.id }}" class="card-link">
                        <div class="card h-100 border-0 shadow-sm">
                            <img src="{{item.image}}" alt="{{item.product_name}}" class="card-img-top p-3 mx-auto" style="height: 202px; width: auto;">
                            <div class="card-body">
                                <h6 class="card-title text-muted">{{item.product_name}}</h6>
                                <div class="d-flex justify-content-between align-items-center">
                                    {%if item.previous_price%}
                                    <div>
                                        <h5 class="mb-0">SDG {{item.current_price}}</h5>
                                        <strike class="text-muted">SDG {{item.previous_price}}</strike>
                                    </div>
                                    {%else%}
                                    <div>
                                        <h5 class="mb-0">SDG {{item.current_price}}</h5>
                                    </div>
                                    {%endif%}
                                    <a href="/add_to_cart/{{item.id}}" class="btn btn-secondary">Add to cart</a>
                                </div>
                                <p class="text-muted mt-2">{{item.in_stock}} Items Left</p>
                            </div>
                        </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <!--end-->
          </div>
        </div>
      </div>
    </section>
    
   
  </main>

  <!-- footer section -->
  <footer class="footer text-center" style="background: rgb(0, 0, 0, 0.9);">
    <div class="container">
      <p>
        <a href="#" style="color: white;">Kenany Store</a> | 
        <span><i class="fa-regular fa-copyright"></i></span> 2023 All rights reserved
      </p>
      <div>
        <a href="https://www.facebook.com" target="_blank" class="me-3" style="color: white;">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://www.twitter.com" target="_blank" class="me-3" style="color: white;">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="https://www.instagram.com" target="_blank" class="me-3" style="color: white;">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.linkedin.com" target="_blank" style="color: white;">
          <i class="fab fa-linkedin-in"></i>
        </a>
      </div>
    </div>
  </footer>

  <!-- FontAwesome Script for Icons -->
  <script src="{{ url_for('static', filename='js/fontAwsome.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
</body>
</html>


