{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}

{% block content %}






<div class="container-fluid login-page">
  <div class="row w-100">
        <div class="col-md-6 left-column">
          <img src="{{ url_for('static', filename='images/kenany_logo.png') }}" alt="Kenany Store Logo" class="img-fluid">
        </div>

    
        <div class="col-md-6 right-column">    
          <div class="register-page">
            <div class="register-container">
              <h2>Sign Up</h2>
              <form action="{{ url_for('auth.signup') }}" method="POST">
                {{ form.hidden_tag() }}
                <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                  {{ form.username(class="form-control", id="username", required=True) }}
                </div>
                <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                  {{ form.email(class="form-control", id="email", required=True) }}
                </div>
                <div class="mb-3">
                <label for="phone_number" class="form-label">Phone Number</label>
                  {{ form.phone_number(class="form-control", id="phone_number", required=True) }}
                </div>
                <div class="mb-3">
                <label for="address" class="form-label">Address</label>
                  {{ form.address(class="form-control", id="Address", required=True) }}
                </div>
                <div class="mb-3">
                <label for="password1" class="form-label">Password</label>
                  {{ form.password(class="form-control", id="password1", required=True) }}
                </div>
                <div class="mb-3">
                <label for="password2" class="form-label">Confirm Password</label>
                  {{ form.confirm_password(class="form-control", id="password2", required=True) }}
                </div>
                  {{ form.submit(class_="btn btn-secondary w-100") }}
              </form>
                already have an account? <a href="{{ url_for('auth.login') }}">Login</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}


